body {
    background-image: url("../assets/background.png"); 
}

.spinner {
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    border-top: 4px solid #BCC8F1;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 49%;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); 
    }
    100% {
        -webkit-transform: rotate(360deg); 
    } 
}

@keyframes spin {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg); 
    } 
}

/* Common Styles */

.text-center {
    text-align: center;
}

/*****************/

.home-container {
    .home-header-container {
        color: #FFFFFF;
        margin: 7% 0 5% 0;
    }
}

.cities-container {
    .cities-data {
        .table-heading {
            color: #FFFFFF;
            vertical-align: middle;

            tr {
                cursor: pointer;
            }
        }

        .table-body {
            color: #FFFFFF;

            tr {
                cursor: pointer;

                .middle {
                    vertical-align: middle;
                }
            }
        }
    }

    .data-retrieving-container {
        color: #FFFFFF;

        .data-retrieving-message {
            padding: 5% 0;
        }
    }
}

.details-container {
    .details-header {
        color: #FFFFFF;
        margin-top: 8%;

        .details-go-back {
            margin-top: 2%;
        }
    }

    .details-main {
        margin-top: 5%;
        color: #FFFFFF;

        .details-main-table-container {
            .middle {
                vertical-align: middle;
            }

            .back-icon {
                cursor: pointer;
            }
        }
    }

    .data-retrieving-container {
        color: #FFFFFF;
        margin-top: 20%;

        .data-retrieving-message {
            padding: 5% 0;
        }
    }
}